@using Inventory.Repository.Paging;
@using Inventory.ViewModel.Invoice;
@model PageResult<InvoiceTypeViewModel>
@{
    ViewData["Title"] = "Index";
}

<div class="row">
    <div class="col-6">
        Add New Invoice Type
        <a asp-action="Create" class="btn btn-primary">Add</a>
    </div>
    <div class="col-6"> Search Here...</div>
    <div class="row">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Invoice- Type Id
                    </th>
                    <th>
                        Title
                    </th>
                    <th>
                        Description
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach(var item in Model)
                {                    
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.InvoiceTypeId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.InvoiceTypeName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            <a asp-route-id="@item.InvoiceTypeId" asp-action="Edit" class="btn btn-primary">Edit</a>
                            <a asp-route-id="@item.InvoiceTypeId" asp-action="Delete" class="btn btn-primary">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

